/* Styling for Paywall Invoice Creator */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/* Set the background color and font family */
html,
body {
  height: 100%;
}

body {
  background: #212121;
  font-size: 100%;
  font-family: Georgia, serif;
  
}




/* Center the content */
h1,
#paywall-form {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

/* Style the header */
h1 {
  text-align: left;
  color: #0c2461;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  margin-left: 3%;
  margin-top: -5px;
}

/* Style the form */
#logo {
  float: left;
  width: auto;
  height: 25px;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 10px;
}

nav {
  float: right;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

a {
  color: #7959d7; /* Change this to the desired color */
}

#my-button {
  display: block;
  margin-top: 8px;
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #7959d7;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
}

#my-button:hover {
  background-color: #5545b5;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}




/* Set the position and style of the input elements */
input[type="text"],
input[type="number"],
input[type="password"] {
  width: 90%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0.1rem auto;
  display: block;
  background-color: black;
  margin-top: 0%;
  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

input[type="text"]:-webkit-autofill,
input[type="number"]:-webkit-autofill,
input[type="password"]:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  outline: none;
  color: white;
  background-color: black;
}





input[type="media"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
  font-style: italic;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  /* adjust the value as needed */
}

textarea#description {
  width: 90%;
  padding: 0.5rem;
  font-size: 1.2rem;
  resize: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0.1rem auto;
  display: block;
  border: none;
  background-color: black;
  margin-top: 0%;
  color: white;
  font-family: "Times New Roman", Times, serif; 
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
}

textarea#description::placeholder {
  color: #999;
  font-style: italic;
  font-size: 1rem;
}





.media-button {
  background: #323a3a;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 4px 14px;
    position: absolute;
    right: 10px;
    top: 69%;
    transform: translateY(-50%);
    max-height: 90%;
    margin-right: 4%;
  
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;


  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

#url {
  width: 90%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 18px auto;
  display: block;
  background-color: black;
  margin-top: 0%;
  color: white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  
}

.media-button {
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: black;
  color: #9595ea;
  cursor: pointer;
  margin: -19px;
  margin-right: 0%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif, 'arial';
  
}




label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 18px;
  color: white;
  font-family: Courier, monospace;
  font-style: italic;
  background-color: #5545b5;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 2px 5px 3px;

}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 18px;
  width: 30px;
  border: 2px solid #5545b5;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  position: relative;
  top: 0px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;

}

input[type="checkbox"]:checked {
  background-color: #5545b5;
  border: 2px solid #5545b5;
}





/* Position and style the checkbox */
#remembers {
  display: none;
}


button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 7px 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #5545b5;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #5545b5;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}




/* Style the response div */
#response {
  display: none;
  min-height: 10px;
  margin-top: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  color: #9595ea;
  padding: 1rem;
  border: 2px solid #9595ea;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #2d2d2d;
  word-wrap: break-word;
  max-width: 70%;
  margin: 1.5rem auto;
}


#copyBtn {
  display: block;
  margin: 5px auto;
  padding: 8px 16px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: #7959d7;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#copyBtn:hover {
  background-color: #5545b5;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Add CSS for the footer */
.footer {
  text-align: center;
  margin-top: 30px;
}

/* Add CSS for the modal */
/* Add CSS for the modal */
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
}

.modal-content {
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  border: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  top: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer-button {
  display: none;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background-color: #5545b5;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.modal-button {
  position: absolute;
  top: .7px;
  right: 0px;
  height: 100%;
  display: block;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #7959d7;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.input-wrapper {
  position: relative;
  height: 40px;
}


.hidden {
  display: none;
}


#toggleButton {
  display: block;
  margin-top: 8px;
  margin-right: 10px;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #5545b5;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
}

#toggleButton:hover {
  background-color: #5545b5;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

#my-button2 {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
  margin-left: 18px;
  color: white;
  font-family: Courier, monospace;
  font-style: italic;
  background-color: #5545b5;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 2px 5px 3px;
  float: right;
  margin-bottom: 8px;
}

hr {
  height: 6px;

  border: 0;
}





footer {
  position: static;
  bottom: 0;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 25px;
}


.button-container {
  text-align: center;
  overflow: hidden;
}

#delete-btn {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  font-family: Courier, monospace;
  font-style: italic;
  background-color: #5545b5;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 2px 5px 3px;
  float: right;

  margin-bottom: 5px;
}



#buttonContainer {
  display: flex;
  justify-content: center;
}



.common-button {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  font-family: Courier, monospace;
  font-style: italic;
  background-color: #5545b5;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 2px 5px 3px;
  margin-bottom: 12px;
}






#delete-btn {
  background-color: rgb(241, 81, 81);
  margin-right: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 20px;
  color: #bbb8b8;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 20px;
  margin: 5%;


}

@media screen and (max-width: 800px) {

  /* apply this style only when the screen width is less than or equal to 600px */
  h2 {
    font-size: .8em;
    /* set all margins to 0 */
  }

  .modal-content3 {

    width: 60%; /* Change the width value here */
  }
  
}


h3 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 10px;
  color: #bbb8b8;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
  max-width: 95%;
  margin-right: 5px;
  margin-left: 3%;
}

@media screen and (max-width: 800px) {

  /* apply this style only when the screen width is less than or equal to 600px */
  h3 {
    font-size: 10px;
    
    /* set all margins to 0 */
  }
}

.wrapper {
  padding-bottom: 1px;
}

.divider {
  position: relative;
  margin-top: 10px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;

  background-image: linear-gradient(to right, transparent, rgb(237, 240, 245), transparent);
}

mark{
  color: rgb(8, 8, 8);
  background-color: #f29f05;
}


#myModal {
  max-width: 600px;
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal2 .modal-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}


.modal-content2 {
  background-color: #2d2d2d;
  padding: 20px;
  border: 1px solid #f3f0f0;
  width: 80%;
  max-width: 600px;
  color: #f8f5f5;
}



.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal3 .modal-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.modal-content3 {
  background-color: #2d2d2d;
  padding: 20px;
  border: 1px solid #f3f0f0;
  width: 70%; /* Change the width value here */
  max-width: 600px;
  color: #f8f5f5;
}




h4 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 14px;
  color: #bbb8b8;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
  max-width: 95%;
}

@media screen and (max-width: 800px) {
  /* apply this style only when the screen width is less than or equal to 600px */
  h4 {
    font-size: 12px;
    /* set all margins to 0 */
  }
  .modal2 {
    left: 0;
  }
}


.link-button {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  font-family: Courier, monospace;
  font-style: italic;
  background-color: #5545b5;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 2px 5px 3px;
  float: center;

}

